@import './setup-box-sizing.css';
@import '../pages/start-page.css'; 
@import '../pages/balett-klubben.css';
@import '../pages/about.css';
@import '../pages/events.css';
body {
  margin: 20px
}

.pet {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}