body.dj-club {
  padding: 2rem;
  margin: 0 auto;
}

body.dj-club h1{
  text-align: center;
  padding-top: 5vh;
  margin-bottom: 2vh;
}

body.dj-club h3{
font-size: 25px;
padding-top: 6vh;
margin: 0;
}


body.dj-club .dj-club-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

body.dj-club .dj_img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
}


body.dj-club .dj_img img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  max-height: 870px;
}


body.dj-club .dj-club-content {
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

body.dj-club .dj-video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

body.dj-club .media-row {
  display: flex;
  gap: 2rem;
  align-items: stretch;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

body.dj-club .media-row video,
body.dj-club .media-row .dj_artist {
  flex: 1;
  height: 400px;
}

body.dj-club .dj_artist img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}


body.dj-club .about{
font-family: 'Segoe UI Semibold', sans-serif;
font-style: italic;
font-size: 20px;
}


body.dj-club .club-info {
  list-style: none;
  font-family: 'Segoe UI Semibold', sans-serif;
  font-style: italic;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
}

body.dj-club .club-info li {
  margin-bottom: 0.5rem;
  font-size: 20px;
}

@media (max-width: 768px) {
  .media-row {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  .media-row video,
  .media-row .dj_artist {
    height: auto;
    width: 100%;
  }

  .media-row .dj_artist img {
    height: auto;
    object-fit: contain;
  }
}

