body.start {
  background: #f8f8f8;
  color: #222;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
  border-bottom: 1px solid #ddd;
  background-color: #a5a5a5;
  box-sizing: border-box;
  margin: 0 auto;
}


.hero img {
  width: 90%;
  height: auto;
  display: block;
  margin: auto;
  border: 1px solid #ccc;
}



header nav a {
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
  text-align: center;
}


.upcoming {
  padding: 1rem 5%;
}

.upcoming h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1rem;
}

.event-card {
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 6px;
  text-align: center;
}


.clubs {
  margin: 2rem 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.club-button {
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  border-radius: 4px;
  text-decoration: none;
  color: #333;

  background: white;
  min-width: 100px;
  text-align: center;
}


footer {
  margin-top: 3rem;
  background: #222;
  color: white;
  text-align: center;
  padding: 1.5rem;
  font-size: 0.9rem;
}
